.skills-marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.skills-track {
    display: flex;
    width: max-content;
    animation: scrollSkills 30s linear infinite;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    gap: 15px;
    margin: 20px;
    padding: 20px;
    border-radius: 14px;
    transition: 0.3s;
}

.skill-card:hover {
    border-color: var(--color-highlight);
}

@keyframes scrollSkills {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}