/* Projects.css */
.filter {
    @apply flex items-center flex-wrap gap-4 w-full mb-12;
}


.filter button {
    @apply smooth-transition px-5 py-2 rounded-full text-sm font-medium;
}

.filter button:hover {
    @apply border border-highlight;
    scale: 1.05;
}

.filter button.active {
    @apply bg-highlight text-dark;
    scale: 1.05;
}

.card {
    @apply flex flex-col h-full rounded-2xl smooth-transition;
    position: relative;
}

.card:hover {
    @apply shadow-xl border-highlight;
    /* scale: 1.02; */
}


.icon-tooltip {
    /* @apply relative inline-block smooth-transition; */
}

.icon-tooltip:hover {
    scale: 1.1;
}

.icon-tooltip::after {
    content: attr(data-tooltip);
    position: fixed;
    @apply border border-borderC smooth-transition;
    bottom: 120%;
    /* فوق الأيقونة */
    left: 50%;
    transform-origin: bottom center;
    background: rgba(20, 20, 25, 0.9);
    color: white;
    font-size: 11px;
    padding: 4px 8px;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    z-index: 50;
    transform: translateX(-50%);
}

.icon-tooltip:hover::after {
    opacity: 1;
}

.project-tag {
    @apply rounded-full shadow-md shadow-black/20;
    padding: 0.15rem 0.75rem;
    font-size: 0.7rem;
    font-weight: 600;
    z-index: 10;
    background-color: var(--color-accent);
    color: #fff;
}


.project-tag.featured {
    background-color: var(--color-blue);
    color: #fff;
}

.skill-tag {
    @apply bg-primary-lighter inline-block px-3 py-1 border border-border-highlight rounded-2xl text-highlight;
    padding: 0.25rem 0.7rem;
    font-size: 0.70rem;

}

.arrow-icon {
    transition: transform 0.3s ease;
    animation: arrowMove 1.2s ease-in-out infinite;
}

@keyframes arrowMove {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(0);
    }
}