/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #fff;
  --color-light: #000;
  --color-blue: rgb(93, 188, 252);

  --color-primary: #f9f9f9;
  --color-primary-light: #e4e4e4;

  --color-secondary: #48485e;
  --color-primary-dark: #eeeeee;
  --color-primary-darker: #a1a1aa;

  --color-accent: rgb(224, 165, 96);
  --color-highlight: #facc15;

  --color-header: rgb(39, 39, 42);
  --color-subtitle: rgb(82, 82, 91);

  --color-border: rgba(63, 63, 70, 0.12);
}

.dark {
  --color-dark: #000;
  --color-light: #fff;
  --color-blue: rgb(93, 188, 252);

  --color-primary: rgba(24, 24, 27);
  --color-primary-light: #27272a;

  --color-secondary: #3f3f46;
  --color-primary-dark: #222225;
  --color-primary-darker: #18181b;

  --color-accent: rgb(224, 165, 96);
  --color-highlight: #facc15;

  --color-header: rgb(39, 39, 42);
  --color-subtitle: rgb(161, 161, 170);

  --color-border: rgba(63, 63, 70, 0.4);
}

html {
  scroll-behavior: smooth;
}


@layer base {
  body {
    @apply bg-dark text-light;
    font-family: "Exo 2", sans-serif;
    letter-spacing: 0.9px;
  }
}

@layer components {
  .container {
    @apply mx-auto border border-borderColor bg-primary;
  }

  .section {
    @apply px-4 md:px-5;
  }
}

@layer utilities {
  .smooth-transition {
    @apply transition-all duration-300;
  }
}

.ele-center {
  @apply flex items-center;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 9px;
  /* عرض الشريط */
  height: 8px;
  /* ارتفاع الشريط الأفقي */
}

::-webkit-scrollbar-track {
  background: theme('colors.primary');
  /* لون الخلفية */
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.blue');
  /* لون المؤشر */
  border-radius: 6px;
  border: 2px solid theme('colors.primary');
  /* المسافة بين المؤشر والخلفية */
}

::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.accent');
  /* لون عند hover */
}


/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
} */